# dependencies
node_modules/
client/node_modules/
server/node_modules/

# next.js
client/.next/
client/out/

# env files
.env
.env.local
client/.env
client/.env.local
server/.env

# misc
.DS_Store
*.pem
*.log
